.background-image{
    background-image: url('../img/539610.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0;
    bottom: 0;
    width: 100%;
}

.navbar{
    padding: 2.5rem;
    font-size: 12px;
}

.navbar .nav-link{
    margin-left: .8rem;
    margin-right: .8rem;
}

.cover{
    background-color: rgba(11, 9, 26, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

.login-btn{
    border: 1.5px solid;
    border-color: #5f4d98;
    color: #5f4d98 !important;
    margin-left: 2rem;
}

.full-height{
    height: 100vh;
}

.login-card{
    padding: 20px;
    border-radius: 10px;
}

.btn-login{
    background-color: #e10713;
    border-radius: 0px;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-top: .7rem;
}

.social-login{
    color: #5f4d98;
    margin-top: .4rem;
    font-weight: bold;
}

.card-footer{
    border-top: none;
    background-color: #fff;
    padding: 0;
}

.collapse-btn{
    display: none;
}


.collapse-btn > i{
    color: #5f4d98;
    font-size: 30px;
}


@media (max-width: 1025px) {
    #collapse-navbar {
        display: none !important;
    }

    .collapse-btn{
        display: block;
    }

    .navbar-brand{
        width: 60px;
    }

}



