.background-image{
    background-image: url('../img/539610.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0;
    bottom: 0;
    width: 100%;
}

.navbar{
    padding: 2.5rem;
    font-size: 12px;
}

.navbar .nav-link{
    margin-left: .8rem;
    margin-right: .8rem;
}

.cover{
    background-color: rgba(11, 9, 26, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

.login-btn{
    border: 1.5px solid;
    border-color: #5f4d98;
    color: #5f4d98 !important;
    margin-left: 2rem;
}

.full-height{
    height: 100vh;
}

.first-text{
    font-size: 4rem;
    margin-left: 7rem;
    margin-bottom: -28px;
}

.second-text{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.btn-images{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 120px;
}

.collapse-btn{
    display: none;
}


.collapse-btn > i{
    color: #5f4d98;
    font-size: 30px;
}

.signup-form{
    background-color: #444242;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 25%;
}

.signup-card{
    border-radius: 10px;
}

.btn-signup{
    background-color: #2c2469;
    color: #fff;
    border-radius: 0px;
    margin-top: 2rem;
    font-size: 12px;
}

.footer{

    width: 100%;
    height: 200px;
    padding-top: 2rem;
    background-color: #0b091a

}

@media (max-width: 1025px) {
    #collapse-navbar {
        display: none !important;
    }

    .collapse-btn{
        display: block;
    }

    .navbar-brand{
        width: 60px;
    }

    .footer{
        display: none;
    }

}




